<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - StankinMaps</title>
    <link rel="icon" type="image/x-icon" href="~/images/map.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <header class="main-header">

        <div class="logo-section">

            <a asp-controller="Home" asp-action="Index"
               class="logo-link">

                <img src="~/images/logo.png"
                     class="logo-img" />

            </a>

        </div>


        <nav class="top-menu">

            <a href="#">О СТАНКИНЕ</a>
            <a href="#">Модульный журнал</a>
            <a href="#">Электронная образовательная среда</a>

        </nav>


        <div class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </div>

    </header>


    <main>
        @RenderBody()
    </main>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>