<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - StankinMaps</title>
    <link rel="icon" type="image/x-icon" href="~/images/map.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <header class="main-header">

        <div class="logo-section">

            <a asp-controller="Home" asp-action="Index"
               class="logo-link">

                <img src="~/images/logo.png"
                     class="logo-img" />

            </a>

        </div>


        <nav class="top-menu">

            <a href="#">О СТАНКИНЕ</a>
            <a href="#">Модульный журнал</a>
            <a href="#">Электронная образовательная среда</a>

        </nav>


        <div class="search-icon">
            🔍
        </div>

    </header>


    <main>
        @RenderBody()
    </main>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>