@{
    ViewData["Title"] = "Главная";
}

<section class="hero">

    <h1>
        Узнайте <span>СТАНКИН</span> изнутри!
    </h1>

</section>


<section class="intro">

    <h2>
        StankinMaps - удобный сервис для навигации по любимому вузу
    </h2>

</section>



<div class="buildings-grid">

    <div class="building-card"
         onclick="location.href='@Url.Action("Maps", "Maps", new { building = "Old", floor = 1 })'">

        <img src="~/images/old.png">

        <p>
            Старый корпус
        </p>

    </div>



    <div class="building-card"
         onclick="location.href='@Url.Action("Maps", "Maps", new { building = "New", floor = 1 })'">

        <img src="~/images/new.png">

        <p>
            Новый корпус
        </p>

    </div>



    <div class="building-card disabled-card">

        <img src="~/images/frezer.png">

        <p>
            Фрезер
        </p>

        <span class="development-label">
            В разработке
        </span>

    </div>

</div>

