@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="buildings-grid">

    <div class="building-card"
         onclick="location.href='@Url.Action("Maps", "Maps", new { building = "New", floor = 1 })'"
         style="cursor:pointer">

        <img src="~/images/new.png"
             alt="Новый корпус"
             width="320"
             height="320" />

        <p>Новый корпус</p>

    </div>

</div>